@import "tailwindcss";

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
  background: #e0f2f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #34d399 0%, #2dd4bf 100%);
  border-radius: 8px;
}
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #34d399 #e0f2f1;
}
